[Unit]
Description=Run dehydrated update for studentenportal
OnFailure=status-email@%n.service

[Service]
Type=oneshot
ExecStart=/usr/bin/docker exec -i web-nginx-1 dehydrated --cron
