RESTIC_REPOSITORY=rest:https://backup.open-ost.ch/backup-sp/nine
RESTIC_PASSWORD='{{ lookup("passwordstore", "deploy/duply_backup directory=pass/") }}'
RESTIC_REST_USERNAME=backup-sp
RESTIC_REST_PASSWORD='{{ lookup("passwordstore", "vshsr/ftp-backup_backup@studentenportal.ch directory=pass/") }}'
