#!/usr/bin/env bash

set -Eeuo pipefail

set -a
. /etc/restic/env
set +a

restic backup \
  /etc \
  /home \
  /root \
  /var/backups \
  /var/lib \
  --exclude '/home/*/.cache' \
  --exclude '/home/*/.local/share/Trash' \
  --exclude '/home/studentenportal/postgres-data' \
  --exclude /var/lib/docker/overlay2 \
  --exclude /var/lib/docker/containers \
  --host backup-sp

restic forget \
  --keep-daily 7 \
  --keep-weekly 4 \
  --keep-monthly 12 \
  --prune
